### Importar librerías

In [3]:
import pandas as pd

### Cargar DataFrame

In [4]:
df_books = pd.read_csv(r'C:\Users\PEDRO\repositorios\numpy\bestsellers-with-categories.csv',sep=',',header=0)
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

In [47]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

### groupby()

contarlo

In [13]:
df_books.groupby('Author').count()

                            Name  User Rating  Reviews  Price  Year  Genre
Author
Abraham Verghese               2            2        2      2     2      2
Adam Gasiewski                 1            1        1      1     1      1
Adam Mansbach                  1            1        1      1     1      1
Adir Levy                      1            1        1      1     1      1
Admiral William H. McRaven     1            1        1      1     1      1
...                          ...          ...      ...    ...   ...    ...
Walter Isaacson                3            3        3      3     3      3
William Davis                  2            2        2      2     2      2
William P. Young               2            2        2      2     2      2
Wizards RPG Team               3            3        3      3     3      3
Zhi Gang Sha                   2            2        2      2     2      2

[248 rows x 6 columns]

media

ANTES NOS SALIA UN ERROR 
El error se debe a que en una futura versión de Pandas, el valor predeterminado de 'numeric_only' en la función mean de DataFrameGroupBy cambiará a False. Para evitar este error, debes especificar 'numeric_only=True' o seleccionar solo las columnas numéricas válidas para la función.
stackoverflow:
numeric_only: (bool), predeterminado Ninguno
Incluye solo columnas flotantes, int y booleanas. Si no hay ninguno, intentará utilizar todo y luego utilizará sólo datos numéricos. No implementado para Series.

En desuso desde la versión 1.5.0 : especificar numeric_only=Ninguno está en desuso. El valor predeterminado será Falso en una versión futura de pandas.

Fuente: [ docs ]

Y según pandas 2.0.0 :

Se modificó el valor predeterminado numeric_onlyen varios DataFrameGroupBymétodos; todos los métodos ahora están predeterminados en numeric_only=False ( GH46072 )

In [45]:

df_books.groupby('Author').mean(numeric_only=True)

                            User Rating       Reviews      Price         Year
Author
Abraham Verghese               4.600000   4866.000000  11.000000  2010.500000
Adam Gasiewski                 4.400000   3113.000000   6.000000  2017.000000
Adam Mansbach                  4.800000   9568.000000   9.000000  2011.000000
Adir Levy                      4.800000   8170.000000  13.000000  2019.000000
Admiral William H. McRaven     4.700000  10199.000000  11.000000  2017.000000
...                                 ...           ...        ...          ...
Walter Isaacson                4.566667   6222.666667  20.333333  2013.333333
William Davis                  4.400000   7497.000000   6.000000  2012.500000
William P. Young               4.600000  19720.000000   8.000000  2013.000000
Wizards RPG Team               4.800000  16990.000000  27.000000  2018.000000
Zhi Gang Sha                   4.600000    128.500000  11.500000  2011.000000

[248 rows x 4 columns]

el minimo

In [46]:
df_books.groupby('Author').min()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2010,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da Vinci,4.5,3014,20,2011,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2012,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2009,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2017,Fiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,4.6,37,6,2009,Non Fiction

In [49]:
df_books.groupby('Author').max()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for Stone,4.6,4866,11,2011,Fiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Steve Jobs,4.6,7827,21,2017,Non Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",4.4,7497,6,2013,Non Fiction
William P. Young,The Shack: Where Tragedy Confronts Eternity,4.6,19720,8,2017,Fiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons),4.8,16990,27,2019,Fiction
Zhi Gang Sha,Soul Healing Miracles: Ancient and New Sacred ...,4.6,220,17,2013,Non Fiction

En la suma : sumara los rating , reviews etc.

In [24]:
df_books.groupby('Author').sum()

,Name,User Rating,Reviews,Price,Year,Genre
Author,,,,,,
Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...
Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

en el ejemplo 'Autor' es el indice de nuestro dataframe

In [5]:
df_books.groupby('Author').sum().loc['William Davis']

Name           Wheat Belly: Lose the Wheat, Lose the Weight, ...
User Rating                                                  8.8
Reviews                                                    14994
Price                                                         12
Year                                                        4025
Genre                                     Non FictionNon Fiction
Name: William Davis, dtype: object

y si queremos que el autor ya no sea parte del index,lo podemos resetear y ya formaria parte de las columnas 
En el código que mencionas, `df_books.groupby('Author').sum().reset_index()`, la función `reset_index()` se utiliza para **restablecer el índice** del DataFrame resultante después de aplicar la función `groupby()`. 

La función `groupby()` agrupa las filas del DataFrame según los valores de la columna `Author` y luego aplica la función `sum()` a cada grupo. El resultado es un nuevo DataFrame que contiene una fila por cada autor y una columna que contiene la suma de los valores de las columnas numéricas para ese autor.

La función `reset_index()` se utiliza para **restablecer el índice** del DataFrame resultante después de aplicar la función `groupby()`. Si no se llama a `reset_index()`, el índice del DataFrame resultante será una columna que contiene los valores únicos de la columna `Author`. Al llamar a `reset_index()`, el índice se restablece a un rango de números enteros consecutivos, y la columna `Author` se convierte en una columna normal del DataFrame.

ok , entiendo que el indice es el author que contiene la agrupacion de las filas y su sumas , y si queremos restablecer las otras columnas con sus valores que contiene el indice autor , lo reseteamos

In [6]:
df_books.groupby('Author').sum().reset_index()

,Author,Name,User Rating,Reviews,Price,Year,Genre
0,Abraham Verghese,Cutting for StoneCutting for Stone,9.2,9732,22,4021,FictionFiction
1,Adam Gasiewski,Milk and Vine: Inspirational Quotes From Class...,4.4,3113,6,2017,Non Fiction
2,Adam Mansbach,Go the F**k to Sleep,4.8,9568,9,2011,Fiction
3,Adir Levy,What Should Danny Do? (The Power to Choose Ser...,4.8,8170,13,2019,Fiction
4,Admiral William H. McRaven,Make Your Bed: Little Things That Can Change Y...,4.7,10199,11,2017,Non Fiction
...,...,...,...,...,...,...,...
243,Walter Isaacson,Leonardo da VinciSteve JobsSteve Jobs,13.7,18668,61,6040,Non FictionNon FictionNon Fiction
244,William Davis,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",8.8,14994,12,4025,Non FictionNon Fiction
245,William P. Young,The Shack: Where Tragedy Confronts EternityThe...,9.2,39440,16,4026,FictionFiction
246,Wizards RPG Team,Player's Handbook (Dungeons & Dragons)Player's...,14.4,50970,81,6054,FictionFictionFiction
247,Zhi Gang Sha,Divine Soul Mind Body Healing and Transmission...,9.2,257,23,4022,Non FictionNon Fiction

la utilidad de tener a author como indice:

El índice en Pandas es un objeto que se utiliza para guardar las etiquetas del eje de coordenadas y otros metadatos ¹. En un DataFrame de Pandas, el índice es una dirección que identificará de forma única cada fila en el DataFrame ⁷. 

En el código que mencionaste, `df_books.groupby('Author').sum().reset_index()`, la función `reset_index()` se utiliza para restablecer el índice del DataFrame resultante después de aplicar la función `groupby()`. Si no se llama a `reset_index()`, el índice del DataFrame resultante será una columna que contiene los valores únicos de la columna `Author`. Al llamar a `reset_index()`, el índice se restablece a un rango de números enteros consecutivos, y la columna `Author` se convierte en una columna normal del DataFrame ⁵.

La utilidad de convertir la columna `Author` en el índice es que permite acceder a los datos de forma más eficiente. Por ejemplo, si se desea obtener los datos de un autor específico, se puede utilizar el nombre del autor como índice para acceder a los datos directamente, en lugar de tener que buscar en toda la columna `Author` ¹. Además, el índice puede utilizarse para ordenar los datos de forma más eficiente, lo que puede ser útil en algunos casos ¹.

sacamos dos metricas distintas

In [ ]:
df_books.groupby('Author').agg(['min','max'])

                                                                         Name  ...        Genre
                                                                          min  ...          max
Author                                                                         ...
Abraham Verghese                                            Cutting for Stone  ...      Fiction
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...  ...  Non Fiction
Adam Mansbach                                            Go the F**k to Sleep  ...      Fiction
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...  ...      Fiction
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...  ...  Non Fiction
...                                                                       ...  ...          ...
Walter Isaacson                                             Leonardo da Vinci  ...  Non Fiction
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...  ...  Non Fiction
William P. Young                  The Shack: Where Tragedy Confronts Eternity  ...      Fiction
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)  ...      Fiction
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...  ...  Non Fiction

[248 rows x 12 columns]

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

y pdemos especificar

o por los resultados que quiero en funciones de agregacion

In [ ]:
df_books.groupby('Author').agg({'Reviews':['min','max'],'User Rating':'sum'})

                           Reviews        User Rating
                               min    max         sum
Author
Abraham Verghese              4866   4866         9.2
Adam Gasiewski                3113   3113         4.4
Adam Mansbach                 9568   9568         4.8
Adir Levy                     8170   8170         4.8
Admiral William H. McRaven   10199  10199         4.7
...                            ...    ...         ...
Walter Isaacson               3014   7827        13.7
William Davis                 7497   7497         8.8
William P. Young             19720  19720         9.2
Wizards RPG Team             16990  16990        14.4
Zhi Gang Sha                    37    220         9.2

[248 rows x 3 columns]

podemos hacerlo por la llave de agrupamiento

In [ ]:
df_books.groupby(['Author','Year']).count()

                       Name  User Rating  Reviews  Price  Genre
Author           Year
Abraham Verghese 2010     1            1        1      1      1
                 2011     1            1        1      1      1
Adam Gasiewski   2017     1            1        1      1      1
Adam Mansbach    2011     1            1        1      1      1
Adir Levy        2019     1            1        1      1      1
...                     ...          ...      ...    ...    ...
Wizards RPG Team 2017     1            1        1      1      1
                 2018     1            1        1      1      1
                 2019     1            1        1      1      1
Zhi Gang Sha     2009     1            1        1      1      1
                 2013     1            1        1      1      1

[493 rows x 5 columns]