In [1]:
import pandas as pd

In [2]:
futbol_players=pd.Series(['navas','Mbappe','Neymar','Messi'],
            index=[1,6,10,30]                   
                        )

In [3]:
futbol_players

1      navas
6     Mbappe
10    Neymar
30     Messi
dtype: object

ahora la lista estara ordenada por default

In [5]:
futbol_players=pd.Series(['navas','Mbappe','Neymar','Messi'],)
futbol_players

0     navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [7]:
dict ={1:'navas',7:'Mbappe',10:'Neymar',30:'Messi'}
dict

{1: 'navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

ahora una forma de poder darle los indices(una estructura que queremos manejar)

In [10]:
Lista_dict= pd.Series(dict)
Lista_dict

1      navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

y siempre entramos por el indice

In [15]:
futbol_players[2]

'Neymar'

podemos usar slicing

In [16]:
futbol_players[0:3]

0     navas
1    Mbappe
2    Neymar
dtype: object

In [17]:
dict = {'Jugador':['Navas','Mbappe','Neymar','messi'],
        'Altura':[182.0,170,178,165.0],
        'Goles':[4,40,400,4000]
        }

In [18]:
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   182.0      4
7   Mbappe   170.0     40
10  Neymar   178.0    400
30   messi   165.0   4000

In [21]:
df_players=pd.DataFrame(dict)

In [22]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [23]:
df_players.index

RangeIndex(start=0, stop=4, step=1)

In [24]:
dict2= {'family':['pepe','seraphin','andres','migdy'],
        'edad':[60,40,30,18]
        }

In [26]:
pd.DataFrame(dict2,index=[3,2,1,0])

     family  edad
3      pepe    60
2  seraphin    40
1    andres    30
0     migdy    18